[Unit]
Description=mqtt_do Service
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python3 /home/pi/myPiCam/mqtt_do.py
Restart=always

[Install]
WantedBy=multi-user.target

